* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #000;
}

.header {
    padding: 15px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.form {
    margin: 30px auto 0;
    padding: 15px 30px;
    text-align: center;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.form input {
    flex: 1;
    height: 50px;
    padding: 10px;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
}

.form input:focus-visible {
    outline: none;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
}

button.form_btn {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: antiquewhite;
    transition: background 0.3s;
}

button.form_btn:hover {
    background: aqua;
}

.content {
    max-width: 700px;
    margin: 30px auto 0;
    padding: 0 30px;
}

.content p {
    margin: 16px 0 0;
    position: relative;
}

.content p:before {
    content: '';
    padding: initial;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background: #000;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.loader {
    text-align: center;
}

.loader img {
    width: 30px;
    height: 30px;
}

.hidden {
    display: none;
}

.content span {
    text-align: center;
    display: block;
}