* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #000;
}

.header {
    padding: 15px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.form {
    margin: 30px 0 0;
    padding: 15px 30px;
    text-align: center;
}

.form input {
    width: 500px;
    height: 50px;
    padding: 10px;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
}

button.form_btn {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: antiquewhite;
    transition: background 0.3s;
}

button.form_btn:hover {
    background: aqua;
}